.login-window {
    width: 300px;
    margin: 100px auto;
}

#loginForm {
    text-align: center;
}

#loginForm p {
    margin: 15px 0;
}

#loginMessage {
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
}